* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop-hero-area {
  height: 20vw;
  position: relative;
}

.shop-hero::after {
  content: "";
  background-image: url("./images/shop-page/hero-section/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title-container {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.title-container h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.title-container div {
  margin: 0 auto;
}

.title-container .smaller-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
}

.logo-on-hero {
  display: flex;
  justify-content: center;
}
.logo-on-hero img {
  width: 70px;
  margin-bottom: -20px;
}

.single-product img {
  height: 120%;
}

.filter-area {
  background-color: #f9f1e7;
}

.filter {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.filter > div {
  display: flex;
  align-items: center;
}
.filter-icon {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 300;
}

.two-icon {
  margin-left: 20px;
  display: flex;
  gap: 25px;
  align-items: center;
  align-self: center;
  height: 25px;
}

.two-icon div {
  align-self: center;
  height: 30px;
}

.result-box {
  display: flex;
  margin-left: 25px;
  align-items: center;
  font-weight: 300;
}
.vertical-line {
  width: 2px;
  height: 37px;
  background-color: #9f9f9f;
}
.show-sort-box {
  display: flex;
  gap: 25px;
}
.show,
.sort {
  display: flex;
  align-items: center;
  gap: 15px;
}

.result {
  margin-left: 25px;
  font-size: 14px;
  color: black;
}

.show-sort-box .input {
  display: flex;
  align-items: center;
  height: 120%;
  background-color: white;
  padding: 10px 20px;
  color: #9f9f9f;
  font-weight: 300;
}

.sort .input {
  width: 120px;
}

.paging {
  display: flex;
  justify-content: center;
}

.all-pages {
  display: flex;
  gap: 10%;
  padding: 60px 0;
}

.all-pages div {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 300;
  padding: 10px 25px;
  background-color: #f9f1e7;
  border-radius: 5px;
}

.active-page {
  background-color: #b88e2f !important;
  color: white;
}

.advantages-area {
  background-color: #faf3ea;
}

.advantage {
  display: flex;
  margin: 0 5%;
  justify-content: space-between;
  gap: 5px;
  padding: 120px 0;
}

.advantage-1,
.advantage-2,
.advantage-3,
.advantage-4 {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .icon-container{
  width: 12%;
} */

.icon-container img {
  width: 100%;
}

.text-container h4 {
  font-size: 25px;
  font-weight: 600;
}

.text-container p {
  font-size: 20px;
  font-weight: 400;
  color: #898989;
}

.index-area {
  background-color: #f9f1e7;
  padding: 0 8%;
}

.index {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0;
}

.index1,
.index2 {
  display: flex;
  gap: 20px;
}

.index1 div:nth-of-type(1),
.index2 div:nth-of-type(1) {
  color: #9f9f9f;
}

.main-area {
  margin-top: 25px;
}

.main {
  display: flex;
  padding: 0 7%;
  justify-content: center;
  gap: 20px;
}

.main .image-container {
  display: flex;
  /* border: 1px solid green; */
  width: 50%;
  justify-content: flex-start;
  /* border: 1px solid green; */
}

.details-container {
  width: 50%;
}

.four-image-container {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.four-image-container img {
  width: 100%;
}
.four-image-container div {
  /* border: 1px solid black; */
  width: 70px;
  height: 70px;
  background-color: #f9f1e7;

  display: flex;
  align-items: center;
  border-radius: 5px;
}

.one-image-container {
  margin-right: 50px;
  height: 32vw;
  background-color: #f9f1e7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260%;
  border-radius: 10px;
}

.one-image-container img {
  width: 100%;

  /* border: 1px solid red; */

  /* overflow: hidden; */
}

/* display flex */

.product-review,
.star-rating,
.size-box,
.color-box,
.options,
.info-1,
.info-2,
.info-3,
.info-4,
.colors-container,
.sizes-container,
.quantity-box {
  display: flex;
}

.size-box,
.color-box {
  flex-direction: column;
}

.product-name {
  font-weight: 400;
  font-size: 42px;
}

.product-price {
  color: #9f9f9f;
  font-size: 500;
  font-size: 20px;
}

.product-review {
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.star-rating {
  gap: 10px;
}

.star-rating div i {
  color: #ffc700;
}

.customer-count {
  font-weight: 400;
  font-size: 12px;
  color: #9f9f9f;
}

.vertical-line1 {
  height: 20px;
  width: 2px;
  background-color: #9f9f9f;
}

.product-description p {
  margin-top: 15px;
  width: 80%;
  font-weight: 400;
  font-size: 12px;
}

.size-box p,
.color-box p {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
  margin-top: 10px;
}

.sizes-container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 15px;
}

.sizes-container div {
  width: 30px;
  height: 30px;
  background-color: #f9f1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
}

.sizes-container div:nth-of-type(1) {
  background-color: #b88e2f;
  color: white;
}

.colors-container {
  gap: 10px;
  margin-top: 10px;
}

.colors-container div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.colors-container div:nth-of-type(1) {
  background-color: #816dfa;
}

.colors-container div:nth-of-type(2) {
  background-color: #000;
}
.colors-container div:nth-of-type(3) {
  background-color: #b88e2f;
}

.options {
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 30px;
}

.quantity-box {
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}

.quantity-box div {
  padding: 15px;
}

.cart-btn,
.compare-btn {
  padding: 15px 35px;
  border: 1px solid black;
  border-radius: 10px;
}

.info-1,
.info-2,
.info-3,
.info-4 {
  color: #9f9f9f;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  font-size: 14px;
  margin-top: 10px;
}

.info-1 {
  margin-top: 30px;
}

.info-4 {
  margin-bottom: 30px;
}

.info-1-1,
.info-2-1,
.info-3-1,
.info-4-1 {
  width: 20%;
}

.info-1-2,
.info-2-2,
.info-3-2,
.info-4-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}

.info-4-2-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.heading-box {
  display: flex;
  justify-content: center;
  gap: 3%;
  color: #9f9f9f;
  font-size: 24px;
  padding: 50px 0;
  font-weight: 500;
}
.heading-box div:nth-of-type(1) {
  color: #000000;
}

.additional-para {
  padding: 0 15%;
  text-align: justify;
  color: #9f9f9f;
  font-size: 16px;
}

.additional-para p:nth-of-type(2) {
  padding-top: 30px;
  padding-bottom: 30px;
}

.two-image-box {
  margin: 0 7%;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 50px;
}

.two-image-box div {
  width: 50%;
}

.two-image-box div img {
  width: 100%;
}

.under-seemore {
  margin-top: 50px;
}

.all-summary table {
  width: 70%;
  border: 0;
  border-collapse: collapse;
  height: 200px;
}

.carted-items tr td {
  width: 16%;
}

.carted-items tr:nth-of-type(1) {
  background-color: #f9f1e7;
  padding: 20px 0;
}

/* td{
  padding: 0;
  margin: 0;
  width: 100%;
} */

tr:nth-of-type(2) td:nth-of-type(1) {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  height: 240px;
}
.carted-product-image {
  display: inline-block;
  background-color: #f9f1e7;
  width: 60%;
  border-radius: 5px;
}

.cart-summary-area {
  margin-top: 50px;
  margin-bottom: 40px;
}
.all-summary {
  display: flex;
  margin: 0 7%;
  gap: 30px;
}

.carted-items > div {
  padding: 20px 0;
}

.cart-total {
  width: 30%;
  background-color: #f9f1e7;
  border-radius: 5px;
}

.table-val {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #9f9f9f;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}
td {
  /* border: 1px solid black; */
  padding: 20px 0;
  vertical-align: middle;
}

/* .carted-items tr{
  border-radius: 50px;
} */

.carted-items tr:nth-of-type(2) td:nth-of-type(6) img {
  /* display: flex; */
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.carted-items tr:nth-of-type(2) td:nth-of-type(2),
.carted-items tr:nth-of-type(2) td:nth-of-type(3) {
  color: #9f9f9f;
}

.cart-total h3 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-top: 10px;
}

.cart-total div:nth-of-type(1) {
  display: flex;
  margin: 0 20%;
  justify-content: space-between;
  margin-top: 80px;
  font-weight: 500;
}

.cart-total div:nth-of-type(1) p:nth-of-type(2) {
  color: #9f9f9f;
  font-weight: 400;
}

.cart-total div:nth-of-type(2) {
  display: flex;
  margin: 0 20%;
  justify-content: space-between;
  margin-top: 30px;
}

.cart-total div:nth-of-type(2) p:nth-of-type(2) {
  color: #b88e2f;
  font-size: 18px;
  font-weight: 400;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 30px 0;
}
.ckout-btn {
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 15px;
  text-align: center;
}

.billing-area {
  margin-top: 50px;
}

.billing {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.bill-inputs {
  width: 47%;
  /* border: 1px solid red; */
}

.bill-summary {
  width: 47%;
}
.name-field {
  display: flex;
  justify-content: space-between;
}

.fname-half,
.lname-half {
  width: 50%;
}
.half {
  width: 100%;
}

.bill-inputs .full {
  /* border: 1px solid red; */
  width: 100%;
}
.billing h1 {
  margin-left: 10%;
  font-size: 36px;
  font-weight: 600;
}

.billing-area input,
.billing-area select {
  height: 75px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}

.bill-inputs div:not(.fname-half) {
  margin-left: 10%;
}

.bill-inputs div {
  margin-top: 30px;
}

.bill-inputs div:nth-of-type(10) {
  margin-top: 50px;
  margin-bottom: 70px;
}

select,
.additional-field input::placeholder {
  padding-left: 20px;
  font-size: 16px;
  background-color: white;
  color: #9f9f9f;
}

label {
  display: block;
  margin-bottom: 15px;
}

.bill-summary {
  padding-left: 3%;
  padding-right: 3%;
}

.bs1 {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-top: 60px;
}

.bs2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.bs2-1 {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.bs2-1 p:nth-of-type(1) {
  color: #9f9f9f;
}

.bs3 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.bs4 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.bs4 p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 600;
  color: #b88e2f;
}

.bill-summary hr {
  margin-top: 30px;
}

.bs5 div,
.bs7-1 div:nth-of-type(1),
.bs7-2 div:nth-of-type(1) {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
}

.bs5 div {
  background-color: black;
  border: 1px solid black;
}

.bs5 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
  font-size: 14px;
}

.bs6 p {
  color: #9f9f9f;
  text-align: justify;
  font-size: 14px;
  margin-top: 10px;
}

.bs7 {
  margin-top: 10px;
}

.bs7-1,
.bs7-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  color: #9f9f9f;
}

.bs8 p {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
  font-weight: 300;
}

.bs8 strong {
  color: black;
}

.bs9 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.bs9 p {
  font-size: 20px;
  padding: 10px 35px;
  border: 1px solid black;
  border-radius: 15px;
}

.contact-1 h2{
  margin-top: 100px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.contact-1 p{
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #9f9f9f;
  width: 40%;
  margin: 0 auto;
}

.contact-2{
  margin-top: 130px;
  margin-left: 10%;
  margin-right: 15%;
  display: flex;
}
.contact-2-1{
  width: 30%;
}

.contact-2-1-1, .contact-2-1-2, .contact-2-1-3{
  display: flex;
  margin-bottom: 60px;
}
.contact-2-1-1-1, .contact-2-1-2-1,.contact-2-1-3-1{
  font-size: 24px;

}
.contact-2-1-1-1{
  font-size: 30px;
}
.contact-2-1-1-2 p:nth-of-type(1), .contact-2-1-2-2 p:nth-of-type(1), .contact-2-1-3-2 p:nth-of-type(1){
  font-size: 24px;
  font-weight: 500;
}

.contact-2-1-1-2 p:nth-of-type(2), .contact-2-1-2-2 p:nth-of-type(2), .contact-2-1-3-2 p:nth-of-type(2), .contact-2-1-1-2 p:nth-of-type(3), .contact-2-1-2-2 p:nth-of-type(3), .contact-2-1-3-2 p:nth-of-type(3){
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.contact-2-1-1, .contact-2-1-2, .contact-2-1-3{
  gap: 30px;
}

.contact-2-2{
  /* border: 1px solid red; */
  width: 70%;
  padding-left: 5%;
}

.contact-2-2 input{
  height: 75px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  width: 90%;
}
.contact-2-2 label{
  font-size: 14px;
}

.contact-2-2 input::placeholder{
  padding-left: 20px;
}
.contact-2-2 div{
  margin-bottom: 30px;
}

.field4 input{
  height: 120px;
}

.field4 input::placeholder{
  padding-top: -30px;
}

.submit-btn{
  display: inline-block;
  padding: 10px 80px;
  border: 1px solid grey;
  text-align: center;
  color: white;
  background-color: #B88E2F;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
}
